.publicty_body {
    margin: 10px 40px 0px 40px;
    .editor_class {
        margin-top: 10px;
        .editor_body {
            height: 450px;
            border: 1px solid #b4b4b4;
            border-radius: 6px;
            .bf-content {
                height: 358px;
            }
            .bf-controlbar {
                background-color: #f5f5f5;
            }
        }
    }
}

.operation_buttons {
    margin-top: 10px;
    padding-left: 40px;
    Button {
        margin-right: 10px;
    }
}
